snippet aioi "aiopg insert" b
query = ${1:tablename}.select().where($1.c.${2:column} == $2)
with (yield from request.app['database']) as conn:
    res = yield from conn.execute(query)
    res = yield from res.first()
endsnippet

snippet aios "get session" b
# yield from request.post()
# yield from request.get()
session = yield from get_session(request)
endsnippet

snippet pdb "New pdb" b
from ptpdb import set_trace; set_trace()
endsnippet
